:root {
  --font-color: #097ef3; /* Font color */
  --background-color-article: rgba(240, 237, 237, 0.8); /* Background color of the article with opacity */
  --section-margin: 40px; /* Margin for sections */
}

h1, h2, p {
  color: var(--font-color); /* Font color */
}

.sociallinks a {
  text-decoration: none;
}

body {
  max-width: 1200px; /* Limiting the entire width of the page */
  margin: 0 auto;
}

header {
  display: grid;
  grid-template-columns: auto 1fr; /* Logo takes auto width, nav takes remaining space */
  align-items: center;
  padding: 20px;
}

header img {
  max-height: 100px; /* Adjust height as needed */
}

nav {
  display: flex;
  justify-content: flex-end;
}

nav a {
  margin-left: 20px;
}

section#history {
  margin-top: var(--section-margin);
}

footer {
  margin-top: 40px;
  display: flex;
  justify-content: flex-end;
}

footer p {
  margin-right: auto; /* Pushes social links to the right */
}

footer .sociallinks img {
  width: 30px;
  height: 30px;
  margin-left: 10px; /* Adjust spacing between icons */
}

/* Additional styles for contact page */
#company-info {
  margin-top: var(--section-margin);
}

#contact-form {
  max-width: 600px;
  margin: 0 auto;
  margin-top: var(--section-margin);
}

#contact-form label {
  display: block;
  margin-bottom: 5px;
}

#contact-form textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#contact-form input[type="checkbox"] {
  margin-right: 5px;
}

#contact-form button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#contact-form button:hover {
  background-color: #0056b3;
}
